:root {
  /* COLORS */
  --dark: #0C134F;
  --light: #D4ADFC;
  --purple: #5C469C;
  --blue: #1D267D;
}


body {
  margin:0;
  background-color: var(--dark);
  font-family: 'Mina', sans-serif;
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  text-align: center;
  color: var(--light);
  margin: 1em 0;
}

h1 span {
  border: 3px solid var(--light);
  padding: 0 5px;
}

.game-field {
  max-width: 600px;
  margin: 0 auto;
  color: var(--light);
  background-color: var(--blue);
}

.battle {
  display:grid;
  grid-template-columns: 1fr 1fr;
}

.player-score {
  background-color: var(--purple);
  font-size: 2em;
  text-align: right;
  padding-right: 10px;
}

.ai-score {
  background-color: var(--light);
  color: var(--purple);
  font-size: 2em;
  padding-left: 10px;
}

.player-choice {
  font-size: 4em;
  padding: 1em 0;
  text-align: center;
}

.ai-choice {
  font-size: 4em;
  padding: 1em 0;
  text-align: center;
}

.abilities {
  text-align: center;
  background-color: var(--purple);
  font-size: 1.4em;
  padding: 0.3em 0;
}

#rock {
  padding: 0.4em;
  cursor: pointer;
}

#paper {
  padding: 0.4em;
  cursor: pointer;
}

#scissors {
  padding: 0.4em;
  cursor: pointer;
}

#rock:hover, #paper:hover, #scissors:hover {
  background-color: var(--dark);
  border-bottom: 1px solid var(--purple);
}

.credits {
  margin-top: 1em;
  text-align: center; 
  color: var(--light);
}
